body {
  margin: 0;
  padding: 0;
  color: #333333;
  line-height: 1.42;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  display: inline-block; }

::-webkit-input-, ::-webkit-select-placeholder {
  color: #333333;
  font-weight: 300;
  font-size: 14px; }

::-moz-placeholder {
  color: #333333;
  font-weight: 300;
  font-size: 14px; }

:-moz-placeholder {
  color: #333333;
  font-weight: 300;
  font-size: 14px; }

:-ms-input-placeholder, :-ms-select-placeholder {
  color: #333333;
  font-weight: 300;
  font-size: 14px; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%; }

.section {
  position: relative;
  overflow: hidden; }

.container {
  margin: auto;
  max-width: 800px;
  height: 100%; }

.hero__container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.visuallyhidden {
  position: absolute;
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: #333333;
  height: 68px; }

.header__container {
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 750px) {
    .header__container {
      width: 95%; } }

.logo {
  display: flex;
  align-items: center; }

.nav {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 750px) {
    .nav {
      display: none; } }

.nav__list {
  display: flex;
  flex-direction: row; }

.nav__item {
  padding-right: 14px; }

.nav__item:last-child {
  padding-right: 0; }

.nav__link {
  font-size: 14px;
  color: #ffcf2e;
  text-transform: uppercase; }

.nav__link:hover {
  text-decoration: underline; }

.hero {
  height: 100%; }

.hero__banner {
  background-size: cover;
  background-position: top center;
  background-image: url("../img/banner.jpg");
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column; }

.hero__banner-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.hero__banner-title {
  margin-bottom: 24px;
  font-weight: 600;
  color: #333333;
  font-size: 52px;
  line-height: 42px;
  border: 4px solid #ffcf2e;
  padding: 12px;
  width: 310px; }
  @media screen and (max-width: 750px) {
    .hero__banner-title {
      margin-bottom: 100px; } }

.triangle-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 750px) {
    .triangle-wrap {
      display: none; } }

.triangle-block {
  width: 50%; }

.yellow-bg {
  background-color: #ffcf2e; }

.white-bg {
  background: #fff; }

.triangle-banner {
  border-left: 10px solid #ffcf2e;
  border-right: 10px solid #ffcf2e;
  border-bottom: 0 solid #ffcf2e;
  border-top: 12px solid transparent;
  width: 0; }

.triangle-rent {
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 0 solid #fff;
  border-top: 12px solid #ffcf2e;
  width: 0; }

.hero__banner-title span {
  font-size: 56px;
  letter-spacing: 4px; }

.hero__rent {
  position: relative;
  height: 335px;
  background-color: #ffcf2e; }
  @media screen and (max-width: 750px) {
    .hero__rent {
      display: none; } }

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #333333; }

.section-title span {
  color: #428ba9; }

.section-title--hero {
  margin-bottom: 14px;
  color: #428ba9;
  font-size: 30px;
  text-transform: uppercase; }

.section-title--slider {
  margin-bottom: 45px;
  color: #333333; }

.color-blue {
  color: #428ba9; }

.big-letters {
  text-transform: uppercase; }

.hero__form {
  width: 100%; }

.form__raw {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px; }

.form__raw:nth-child(3) {
  margin-bottom: 0; }

.form__row-text {
  margin-left: 6px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600; }

.form__block {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin-right: 2%; }

.form__block:first-child {
  width: 49%; }

.form__block:nth-child(2) {
  width: 35%; }

.form__block:last-child {
  margin-right: 0;
  width: 12%; }

.form__block-left {
  align-items: center;
  margin-left: 12px;
  width: 32%;
  display: flex;
  border-right: 1px solid #999999; }
  @media screen and (max-width: 750px) {
    .form__block-left {
      width: 20%; } }

.form__block-right {
  width: 65%; }
  @media screen and (max-width: 750px) {
    .form__block-right {
      width: 77%; } }

.form__raw-select {
  text-align-last: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: #333333;
  width: 100%;
  height: 35px;
  border: none; }

.form__raw-select--left {
  padding-left: 10px;
  text-align-last: initial;
  color: rgba(51, 51, 51, 0.5);
  font-size: 10px;
  text-transform: none; }

.form__raw-select--right {
  color: #333333;
  font-size: 10px;
  text-transform: none;
  padding-left: 10px;
  text-align-last: initial; }

.form__raw-select--center {
  padding-left: 10px;
  text-align-last: initial;
  color: rgba(51, 51, 51, 0.5);
  font-size: 10px;
  text-transform: none; }

.form__btn {
  display: flex;
  justify-content: center; }

.form__btn-find {
  margin-top: 28px;
  font-size: 18px;
  padding: 6px 35px;
  font-weight: 700; }

.btn {
  background-color: #428ba9;
  text-transform: uppercase;
  color: #fff;
  transition: .3s; }

.btn:hover {
  background: #4269a9; }

.slider {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.slider__container {
  margin-bottom: 70px; }

.slider__wrap {
  position: relative;
  width: 100%; }

.slider__scroll {
  position: absolute;
  top: 50%;
  z-index: 50;
  transform: translateY(-50%); }

.slider__scroll--left {
  left: 0; }

.slider__scroll--right {
  right: 0; }

.slider__center-outer {
  position: relative;
  overflow: hidden; }

.slider__center-inner {
  height: 100%;
  width: 100%;
  z-index: -5;
  text-align: right;
  position: absolute;
  background-color: #ffcf2e;
  max-width: 310px;
  max-height: 340px; }

.slider__center-img {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 750px) {
    .slider__center-img {
      width: auto; } }

.slider__center-jpg {
  max-width: 100%; }

.slider__price {
  margin-right: 25px;
  margin-top: 15px;
  color: #333333;
  font-size: 30px;
  font-weight: 600; }

.slider__car-name {
  justify-content: center;
  display: flex;
  background: #333333;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  width: 168px;
  height: 50px;
  align-items: center; }

.slider__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; }
  @media screen and (max-width: 750px) {
    .slider__item {
      justify-content: center; } }

.slider__side {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 750px) {
    .slider__side {
      display: none; } }

.slider__side-img {
  max-width: 100%; }

.slider__center {
  height: 340px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 750px) {
    .slider__center {
      width: 100%; } }

.slider__outer {
  padding: 0 10%; }

.section-title--about {
  text-align: right;
  margin-right: 140px; }
  @media screen and (max-width: 750px) {
    .section-title--about {
      height: 10%;
      margin-right: 0;
      text-align: center;
      margin-bottom: 20px; } }

.about {
  height: 540px; }
  @media screen and (max-width: 750px) {
    .about {
      height: 520px;
      margin-bottom: 50px; } }

.about__desc {
  color: #333333;
  width: 380px;
  background-color: #ffcf2e; }
  @media screen and (max-width: 750px) {
    .about__desc {
      position: absolute;
      color: #333333;
      background-color: #ffcf2e;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); } }

.about__desc-wrap {
  justify-content: space-between;
  padding: 5px 30px 15px 10px;
  display: flex;
  flex-direction: row; }

.about__desc-left {
  text-align: center;
  width: 40%;
  font-weight: 700; }

.about__desc-left h2 {
  margin-top: 10px;
  font-size: 40px; }

.about__desc-left p {
  font-size: 18px; }

.about__desc-left-block {
  margin: 0 auto;
  width: 55px;
  height: 15px;
  border-bottom: 2px solid #428ba9; }

.about__desc-text {
  width: 55%;
  font-size: 18px; }

.about__photo {
  z-index: -1;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  text-align: right; }
  @media screen and (max-width: 750px) {
    .about__photo {
      text-align: center;
      position: static; } }

.about__photo-img {
  max-width: 100%; }

.about__content {
  height: 100%;
  margin-top: 16px;
  padding-top: 70px;
  position: relative; }
  @media screen and (max-width: 750px) {
    .about__content {
      height: 86%;
      margin: 0;
      padding: 0; } }

.about__frame {
  z-index: -2;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 530px;
  height: 370px;
  border: 2px solid #ffcf2e; }
  @media screen and (max-width: 750px) {
    .about__frame {
      display: none; } }

.about__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #333333; }

.about__title span {
  color: #428ba9;
  text-transform: uppercase; }

.reviews {
  height: 320px; }

.section-title--reviews {
  padding-top: 20px; }

.reviews__content {
  display: flex;
  justify-content: space-between; }

.reviews__side {
  width: 20%; }

.reviews__quotes {
  color: #ffcf2e;
  font-size: 100px;
  font-weight: 600; }

.reviews__quotes--left {
  text-align: right;
  transform: rotate(180deg); }

.reviews__quotes--right {
  text-align: right; }

.reviews__text {
  padding: 40px 0;
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  text-align: center;
  width: 95%; }

.reviews_pagination {
  text-align: center; }

.pagination__list {
  display: flex;
  justify-content: center; }

.pagination__item {
  margin-right: 12px; }

.pagination__item:last-child {
  margin-right: 0; }

.circuit {
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%; }

.visitors {
  background-color: #ffcf2e; }

.visitors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px; }

.section-title--visitors {
  margin-bottom: 8px;
  font-size: 30px; }

.visitors__content {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.visitors__content-line {
  width: 216px;
  height: 2px;
  border: 1px solid #428ba9; }

.visitors__content-line--left {
  margin: 12px 20px 0 10px; }

.visitors__content-line--right {
  margin: 12px 10px 0 20px; }

.visitors__block {
  margin-right: 140px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #333333; }

.visitors__block:nth-child(3) {
  margin-right: 0; }

.chat {
  margin-top: -12px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center; }

.chat__btn {
  font-size: 30px;
  padding: 6px 35px;
  font-weight: 600; }

.footer {
  background-color: #ffcf2e; }

.footer_container {
  height: 85px;
  margin: 0 auto;
  width: 90%; }

.footer__content {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.hamburger-menu-link {
  position: relative;
  height: 22px;
  align-items: center;
  display: none; }
  @media screen and (max-width: 750px) {
    .hamburger-menu-link {
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 24px;
  height: 4px;
  border-radius: 3px; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.overlay-menu {
  display: none; }
  @media screen and (max-width: 750px) {
    .overlay-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(47, 50, 52, 0.99);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999999;
      flex-direction: column;
      padding: 3.2% 2.5%; } }

.overlay-menu__header {
  justify-content: space-between;
  display: flex;
  width: 100%; }

.overlay-menu__content {
  display: flex;
  width: 100%;
  flex: 1; }

.overlay-menu__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%; }

.overlay-menu__item {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase; }
  .overlay-menu__item:after {
    margin: 20px auto;
    display: block;
    content: '';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff; }
  .overlay-menu__item:last-child:after {
    display: none; }
